<!-- recommender/templates/recommender/home.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'recommender/styles.css' %}">
</head>
<body>
    <header>
        <div class="page-wrapper">
            <div class="container">
                <h1>Learn Deadlock</h1>
            <nav class="nav-bar">
                <a href="{% url 'item_recommender' %}" class="nav-link">Item Recommender</a>
                <a href="{% url 'hero_stats' %}" class="nav-link">Hero Stats</a>
                <div class="toggle-switch">
                    <label for="theme-toggle">Dark Mode</label>
                    <label class="switch">
                        <input type="checkbox" id="theme-toggle">
                        <span class="slider"></span>
                    </label>
                </div>
            </nav>
            </div>

            <footer class="footer">
                <p>&copy; 2024 Edin Beteivaz. All rights reserved.</p>
                <p>Contact: edinbeteivaz@gmail.com | GitHub: <a href="https://github.com/edin2pies" target="_blank">edin2pies</a></p>
            </footer>

        </div>
    </header>

    <script>
        // Dark Mode Toggle Script
        const toggleSwitch = document.getElementById('theme-toggle');
        const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);

            if (currentTheme === 'dark') {
                toggleSwitch.checked = true;
            }
        }

        toggleSwitch.addEventListener('change', function(event) {
            if (event.target.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
            }
        });
    </script>

</body>
</html>
